.header {
  display: flex;
  justify-content: center;
  padding-left: 2%;
  font-family: 'Ultra', serif;
  font-size: 35px;
  text-shadow: 4px 4px 6px rgb(211, 200, 200);
}

.tomato {
  width: 55px;
  height: 55px;
}

a {
  display: flex;
  align-content: center;
}

.loading-gif {
  display: flex;
  justify-content: center;
  padding-left: 35%;
}