.header {
  display: flex;
  justify-content: space-between;
  padding-left: 4.5%;
  font-family: 'Ultra', serif;
  font-size: 30px;
  text-shadow: 3px 3px 5px rgb(211, 200, 200);
}

.home-button {
  color:white;
  border: none;
  background-color: black;
  font-size: 25px;
  cursor: pointer;
  margin-right: 20px;
  text-decoration: underline;
  font-family: 'Ultra', serif;
}

.tomato {
  width: 50px;
}

a {
  display: flex;
  align-content: center;
}

.loading-gif {
  display: flex;
  justify-content: center;
  padding-left: 35%;
}