.backdrop {
  width: 50%;
  height: 400px;
  margin-left: 20px;
}

.movie-details {
  font-family: 'Sawarabi Gothic', sans-serif;
  display: flex;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.detail-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
}

p {
  padding: 5px;
}

.home-button {
  display: flex;
  color:white;
  border: none;
  background-color: black;
  font-size: 25px;
  cursor: pointer;
  margin-top: 350px;
  margin-right: 30px;
  text-decoration: underline;
  font-family: 'Ultra', serif;
}


