.card-image {
  height: 300px;
  width: auto;
}

.card-image:hover {
  box-shadow: 8px 8px 5px rgb(247, 182, 17);
  height: 320px;
  cursor: pointer;
}

.card {
  font-family: 'Sawarabi Gothic', sans-serif;
}